.row {
  margin-left: 0;
  margin-right: 0;
}

.location-search{
  margin-top: 200px;
}
.u__wrapper {
  max-width: 1230px;
  margin: 0 auto !important;
  margin-top: 200px;
}
.white-background {
  color: #000;
  font-family: "KG HAPPY", sans-serif;
  display: inline-block;
  text-align: center;
}
.swipeEffect__text {
  font-family: "KG HAPPY", sans-serif;
}
.white-background p {
  padding: 15px;
  white-space: nowrap;
  display: inline-block;
  background-color: #fff;
  margin-bottom: 0;
}
.location-search .white-background p {
  font-size: 80px;
  line-height: 96px;
  padding: 15px;
  white-space: nowrap;
  display: inline-block;
  background-color: #fff;
  margin-bottom: 0;
}
.location-search .location-search__input {
  padding: 50px 30px;
}
.location-search .location-search__input .ls__input-wrapper {
  position: relative;
  border: 2px solid #c7c7c7;
}
.location-search__input .ls__input-submit,
.location-search__input .ls__input-wrapper,
.location-search__input .ls__view-all {
  display: inline-block;
  vertical-align: middle;
}
.ls__input-wrapper .fas {
  position: absolute;
  left: 20px;
  top: 27px;
  color: #787676;;
}
.ls__input-wrapper input {
  font-family: "KG HAPPY Solid", sans-serif;
  padding: 18px 40px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  z-index: 1;
}
.location-search__input .ls__input-submit {
  background-color: #e21837;
  color: #fff;
  padding: 24px 25px;
  font-size: 22px;
  line-height: 22px;
  margin-left: 0;
  cursor: pointer;
}
.location-search__input .ls__input-submit:hover{
  background-color:#000;
}
.location-search__input .ls__view-all {
  font-family: "KG HAPPY Solid", sans-serif;
  margin-left: 25px;
  background-color: #000;
  padding: 23px 30px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  cursor: pointer;
}
.location-search__input .ls__view-all:hover{
  background-color: #e21837;
}
.location-search__input .ls__view-all .fas,
.location-search__input .ls__view-all p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}


/* grey-background */
.grey-background {
  color: #fff;
  font-family: "KG HAPPY Solid", sans-serif;
  display: inline-block;
  text-align: center;
}
.location-search .grey-background p {
  white-space: normal;
  padding: 40px;
  font-size: 14px;
  line-height: 24px;
}

.location-search .grey-background p {
  white-space: normal;
  padding: 40px;
  font-size: 14px;
  line-height: 24px;
}
.grey-background p {
  padding: 10px;
  white-space: nowrap;
  display: inline-block;
  background-color: #485157;
  margin-bottom: 0;
}

/* All- location */
.all_location-cu{
  display: none;
}

.all_location-cu li {
  margin: 20px 0;
  display: block;
}
.location_item-cu {
  padding: 20px;
  background-color: #faf7f3;
  border: 3px solid #c7c7c7;
  -webkit-box-shadow: 10px 10px 2px 0 rgb(0 0 0 / 5%);
  box-shadow: 10px 10px 2px 0 rgb(0 0 0 / 5%);
}
.location_item-cu a {
  position: relative;
  width: 100%;
  height: 350px;
  display: table;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
}

.location_item-cu img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.location_item-cu p {
  font-family: "KG HAPPY";
  font-size: 40px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.location_item-cu a:hover img {
  transform: scale(1.2);
}
@media (max-width: 767px){
.location-search .white-background p {
    line-height: 1.2;
    font-size: 60px;
}
.ls__input-wrapper input{
  width: 260px;
}


}

@media (max-width: 600px){
.location-search .white-background p {
    line-height: 1.2;
    font-size: 32px;
}
.location-search__input .ls__view-all {
  margin: 10px 26px;
  width: 340px;
}
.location-search .location-search__input {
  padding: 30px 0 0;
}
}