@media only screen and (max-width: 480px) {
  body,
  button,
  input,
  textarea {
    font-size: 14px !important;
    letter-spacing: 0.88px !important;
    line-height: 24px !important;
  }
}
body {
  background-color: burlywood;
}
div {
  display: block;
}
.content-ch {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.content-ch {
  margin-bottom: 0;
}
.content-ch {
  margin-top: 200px;
  box-sizing: border-box;
}
.product-ch {
  position: relative;
  overflow: hidden;
}
.woocommerce-product-ch {
  width: 39.1304347826%;
  float: left;
  margin-right: 4.347826087%;
  margin-bottom: 3.706325903em;
  position: relative;
}
figure {
  margin: 0;
}
figure {
  /* display: block; */
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
@media only screen and (max-width: 480px) {
  .woocommerce-product-ch img {
    height: 200px;
    object-fit: cover;
  }
}
.woocommerce-product-ch img {
  border: 20px solid #fff;
  border-radius: 0;
  margin: 0;
}
img {
  height: auto;
  max-width: 100%;
  display: block;
}
@media (min-width: 768px) {
  div.product-ch .summary {
    width: 56.5217391304%;
    float: right;
    margin-right: 0;
    margin-bottom: 3.706325903em;
  }
}
@media (min-width: 768px) {
  div.product-ch .summary {
    width: 52.9411764706%;
    float: right;
    margin-right: 0;
  }
}
.summary {
  width: 56.5217391304%;
  float: right;
  margin-right: 0;
  margin-bottom: 3.706325903em;
  margin-top: 0;
}
.product_title-ch.entry-title-ch {
  font-family: "KG Happy Solid";
  font-size: 28px;
  line-height: 45px;
  color: #fff;
  float: left;
}
h1 {
  letter-spacing: -1px;
}
@media only screen and (max-width: 480px) {
  .product_title-ch.entry-title-ch,
  p.price-ch {
    font-size: 23px !important;
    line-height: 37px !important;
  }
}

p.price-ch {
  font-family: "KG Happy Solid";
  font-size: 28px;
  line-height: 45px;
  color: #fff;
  float: right;
  margin: 0;
}
form.cart {
  clear: both;
  border-top: 1px solid #fff;
  padding-top: 30px !important;
  margin-top: 30px;
}
form.cart {
  margin-bottom: 1.618em;
  padding: 1em 0;
}
.cart label {
  font-family: "KG Happy Solid";
  font-size: 19px;
  line-height: 30px;
  color: #fff;
}
.quantity,
.single_add_to_cart_button {
  margin-top: 40px;
}
.quantity {
  float: left;
  margin-right: 0.875em;
  background: #fff;
  border-radius: 3px;
  padding: 5px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.added_to_cart {
  border: 0;
  border-radius: 0;
  background: none;

  cursor: pointer;
  padding: 0.6180469716em 1.41575em;
  text-decoration: none;
  font-weight: 600;
  text-shadow: none;

  -webkit-appearance: none;
}
.single_add_to_cart_button {
  background-color: #e11937;
  border-radius: 3px;
  font-family: "KG Happy Solid";
  font-size: 19px;
  line-height: 30px;
  color: #fff;
  font-weight: normal;
  padding: 8px;
  width: 400px;
}
.acordian-container {
  background: #fff;
  display: inline-block;
  padding: 0px 20px;
}
.acordian-container .summary {
  width: 100% !important;
  float: none !important;
  display: inline-block;
  margin-bottom: 0 !important;
}
.acordian-item.acordian-active {
  padding-bottom: 30px;
}
.acordian-container .summary {
  width: 100% !important;
  float: none !important;
  display: inline-block;
  margin-bottom: 0 !important;
}
.acordian-item {
  border-bottom: 1px solid #c7c7c7;
}
.acordian-item {
  border-bottom: 1px solid #c7c7c7;
}
.acordian-item .tab-heading {
  width: 100%;
  height: auto;
  float: left;
  display: block;
  text-align: left;
  font-size: 1rem;
  letter-spacing: 0.16em;
  font-weight: 300;
  color: #125140;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  padding-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.wc-block-grid__product-title {
  color: #333333;
}
h2,
.beta {
  font-size: 2em;
  line-height: 1.214;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 300;
  margin: 0 0 0.5407911001em;
  color: #131315;
}
.acordian-item .tab-heading {
  font-family: "KG Happy Solid";
  font-size: 23px;
  line-height: 37px;
  color: #e11937;
  padding-top: 30px;
}
.acordian-item .tab-heading .chevron-wrap {
  top: 43px;
}
.acordian-item.acordian-active .chevron-wrap {
  transform: rotate(180deg);
}
.acordian-item .tab-heading .chevron-wrap {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50px;
  right: 5px;
  transition: all 0.25s ease-in-out;
}
.acordian-item.acordian-active .tab-content {
  max-height: 1000px;
}
.acordian-item .tab-content {
  font: normal normal normal 16px/24px Courier New;
  border: none;
}
.acordian-item .tab-content {
  font: normal normal normal 16px/24px Courier New;
  border: none;
}
.acordian-item .tab-content {
  max-height: 0;
  height: auto;
  width: 100%;
  display: block;
  float: left;
  border-bottom: 1px dotted #125140;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .content-ch {
    margin: 150px auto 0;
    padding: 15px;
    width: 100%;
  }

  .quantity {
    float: none;
    margin: 0 auto;
    width: 78%;
  }
}

@media (max-width: 480px) {
  .woocommerce-product-ch {
    width: initial;
    float: initial;
    margin-right: 0;
    margin-bottom: 0;
    position: relative;
  }

  .summary {
    width: initial;
    float: initial;
    margin-right: 0;
    margin-bottom: 3.706325903em;
    margin-top: 0;
  }
}
